.container__small-cards {
  width: 700px;
  margin-top: 15px;
}

.container__small-card-content {
  border: solid white;
  display: flex;
  flex-direction: row;
}

small-card__photo > img {

width: 200px;
min-width: 200px;
margin-right: 20px;
}

.small-card__name {

  display: flex;
  justify-content: center;
  align-items: center;
}

.container__small-card__separator {

  margin-top: 10px;
}
